{% extends "owner/base_owner.html" %}
{% block content %}
<h3>Add Product</h3>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
        <label>Name</label>
        <input name="name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input name="price" type="number" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Stock</label>
        <input name="stock" type="number" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Image</label>
        <input type="file" name="image" class="form-control">
    </div>

    <button class="btn btn-primary">Save</button>
</form>
{% endblock %}
